<div id="<%= dom_id product_image %>">
  <p>
    <strong>Name:</strong>
    <%= product_image.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= product_image.code %>
  </p>

  <p>
    <strong>Images:</strong>
    <%= product_image.images %>
  </p>

</div>
